<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h2>Add new todo item</h2>
  <form hx-post="/item" hx-ext="json-enc" hx-target="#the-tbody" hx-swap="beforeend">
    <label>value:
      <!-- FIXME add validation to input -->
      <input name="val" type="text" value="{{theDate}}"></input>
    </label><br />
    <!-- FIXME reset form after submit -->
    <button type="submit">Add</button>
  </form>
  <h2>Todo List</h2>
  <table>
    <tbody id="the-tbody">
      {{#rows}}
       {{> singlerow}}
      {{/rows}}
    </tbody>
  </table>
  <!-- FIXME add URL link to download DB -->
  <script src="/htmx.js"></script>
</body>
</html>
