<tr class="row-{{id}}">
  <td>{{id}}</td>
  <!-- FIXME allow editing -->
  <td>{{title}}</td>
  <td>
    <button
      hx-delete="/item/{{id}}"
      hx-target=".row-{{id}}"
      hx-swap="outerHTML">x</button>
  </td>
</tr>
